<main>
    <h1>Account Management</h1>

    <% if (messages && messages.length> 0) { %>
        <ul class="notice">
            <% messages.forEach(msg=> { %>
                <li>
                    <%= msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <p>You're logged in.</p>
</main>