<header class="header">
  <div class="header-content">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <a href="/account/login" class="account-link" title="Click to log in">My Account</a>
  </div>
</header>